CompileFlags:
  Add:
    - "-I../errors/includes"
    - "-I./includes"
    - "-I../monitor_routine/includes"
    - "-I../utils/time_manipulation"
    - "-I../monitor_routine/simulation_control/includes/"
    - "-I../coder_routine/schedulers/includes/"
