CompileFlags:
  Add:
    - "-I../../monitor_routine/simulation_control/includes/"
    - "-I../dongle_protocols/includes/"
    - "-I../includes/"
    - "-I../../errors/includes/"
    - "-I../../monitor_routine/includes/"
    - "-I../../utils/time_utils/"
    - "-I../../utils/codexion_config_utils/"
    - "-I../../coder_routine/dongle_protocols/includes/"
    - "-I../../coder_routine/schedulers/includes/"
