CompileFlags:
  Add:
    - "-I../../monitor_routine/simulation_control/includes/"
    - "-I../dongle_protocols/includes/"
    - "-I../includes/"
    - "-I../../errors/includes/"
    - "-I../../monitor_routine/includes/"
