CompileFlags:
  Add:
    - "-I../monitor_routine/simulation_control/includes"
    - "-I./includes"
    - "-I../utils/time_utils"
    - "-I../errors/includes/"
    - "-I./dongle_protocols/includes/"
    - "-I../utils/time_utils/"
    - "-I../utils/codexion_config_utils/"
    - "-I../../includes"
